VITE_API_URL=http://localhost:8070/api/v1
VITE_TOKEN_KEY=skillarix_token
VITE_WS_URL=ws://localhost:8070/api/v1/websocket

VITE_ELEVENLABS_AGENT_ID=your-agent-id
VITE_ELEVENLABS_API_KEY=your-elevenlabs-api-key
VITE_ELEVENLABS_API_URL=https://api.elevenlabs.io/v1/convai/agents
VITE_ELEVENLABS_TITLE=ElevenLabs Agent System

VITE_EVALUTION_TITLE=[Complete Evaluation,Additional Criteria Evaluation]
